$light: #ddd;
$medium: #999;
$dark: #333;
$black: #212121;
$headings: #32729b;
$logo-blue: #377fac;
$logo-yellow: #e7901e;
$logo-red: #bc4428;
$static: #44ccee;
$active: #00ff84; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');